@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,700italic,500italic,400italic);

body { 
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-size: 13px;
}
h1, h2, h3, h4 { 
    margin: 2em 0 0.5em; 
}
a, a:link {
    color: #2a82bc;
    text-decoration: none;
    border-bottom: 1px solid #2a82bc;
}
a:hover {
    color: #47a1de;
    border-color: #47a1de;
}
a:visited {
    color: #8e44ad;
    border-color: #8e44ad;
}
hr { 
    border: none; 
    border-bottom: 1px solid #ccc; 
    margin: 2em 0; 
}
nav {
    background: rgba(19, 35, 47, 0.9);
    color: white;
    padding: 0.5em 0;
}
nav a, nav a:link, nav a:visited, nav span {
    color: silver;
    border: none;
}
nav a:hover {
    color: whitesmoke;
}
code { 
    display: inline-block; 
    padding: 3px; 
    background: aliceblue; 
    border: 1px solid lightsteelblue; 
    border-radius: 3px; 
}
pre { 
    display: block; 
    padding: 6px 15px; 
    color: white; 
    background: slategray; 
    border: 1px solid dimgray; 
    border-radius: 3px; 
    overflow-x: auto;
}
pre code {
    display: block;
    background: none;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table th {
    text-align: left;
}
table th, table td {
    border: 1px solid whitesmoke;
    padding: 5px 10px;
}

footer {
    font-size: 0.8rem;
    color: silver;
    padding: 1em 0;
}

.container {
    width: 800px;
    margin: 0 auto;
}
.nav {
    font-size: 0.9rem;
    text-align: center;
}
.nav .snap-left {
    float: left;
}
.nav .snap-right {
    float: right;
}