/* Credits: http://codepen.io/ehermanson/pen/KwKWEv */

/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700,300); */
/* @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); */
 
 /* Droid Sans is our brand logo font */
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
 /* Roboto is our everyday font for the mobile app */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
    background: url('/assets/img/pizza-bg-2.png') repeat center center #c1bdba;
    background-color: #E8E7DF;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid snow;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}
a:hover {
  color: #179b77; color: #f39c12;
  border-color: #f39c12;
}

u {
    text-decoration: none;
    border-bottom: 1px solid inherit;
}

.container {
  max-width: 600px;
  margin: 20px auto;
}

.form-container {
  background: rgba(19, 35, 47, 0.9);
  padding: 60px 40px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  position: relative;
  overflow: hidden;
}
.form-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15px;
    background: #1ab188;
    background: #f39c12;
    box-shadow: inset 0 -3px 5px #e67e22;
}

.main-form {
    margin-top: 180px;
}

.megajumbo {
    position: absolute;
    top: 0;
    width: 100%;
    font-family: 'Droid Sans', Roboto, sans-serif;
    font-size: 175px;
    letter-spacing: -10px;
    color: #222;
    color: rgb(153, 144, 136);
    opacity: 0.6;
    text-align: center;
    white-space: nowrap;
}

.megajumbo.fixed-as-background {
    max-width: 100%;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77; background: #f1c40f;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188; background: #f39c12;
  color: #ffffff;
}

.tab-content > div {
  display: none;
}

.tab-content > div:first-child {
    display: block;
}

h1, h2 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  font-size: 3em;
  margin: 0 0 20px;
}

h1 + h2 {
    font-size: 1.2em;
    margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188; color: #f1c40f;
}

label.active {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea, select {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: none;
  border-bottom: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus, select:focus {
  outline: 0;
  border-color: #1ab188; border-color: #f1c40f;
}

select option {
    color: rgba(19, 35, 47, 0.9);
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

footer {
    color: white;
    font-size: 0.85rem;
    text-align: center;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button-container {
    margin: 60px 0 40px;
}

.button {
  border: 0;
  outline: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 15px 0;
  font-family: 'Droid Sans', Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: lowercase;
  text-align: center;
  text-shadow: 0 1px 5px rgba(0,0,0,0.2);
  background: #7C7F89;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  cursor: pointer;
}
.button:hover, .button:focus {
  background: #5B5E64;
  color: white;
}
.button[disabled] {
    background: #7f8c8d;
}

.button-block {
  display: block;
  width: 100%;
  margin: 0.5em 0;
}

.button-green {
  background: #1ab188;
}
.button-green:hover, .button-green:focus {
  background: #179b77;
}
.button-blue {
    background: #5890ff;
}
.button-blue:hover, .button-blue:focus {
    background: #3F74DB;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.temp-password-sentence {
    color: white;
    text-align: center;
}
.error-text {
    color: #e74c3c;
}

.glassy {
    opacity: 0.4;
}

.page-footer {
    font-size: 0.8rem;
    color: #222;
    margin: 40px 0 60px;
}
.page-footer a {
    color: #222;
    border-bottom: 1px solid #444;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}